# Checkpoint 0 
## Do not remove comments that start with: "# @@@" (Those are question tags)

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [2]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = a.copy()
b

[1, 2, 3, 4, 5, 6]

In [4]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
c = b[3:]
c

[4, 5, 6]

In [9]:
# @@@ Question 3: Create a list of numbers from 1 to 20
d = list(range(1,21))
d

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
e = list(range(2, 101, 2))
e

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def func(a,b):
    return a/b

1.6666666666666667

In [15]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for i in range(1,31):
    if (i % 3 == 0 and i % 5 !=0):
        print ('fizz')
    elif (i % 5 == 0 and i % 3 !=0):
        print("buzz")
    elif (i % 5 == 0 and i % 3 ==0):
        print('fizzbuzz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [16]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
my_dict = {'Gyro':9, 'Burger':9, 'Greek Salad':8, 'Philly Steak':10}
my_dict

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [ ]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
data = pd.read_csv("../data/starbucks.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   beverage_category    242 non-null    object
 1   beverage             242 non-null    object
 2   beverage_prep        242 non-null    object
 3   calories             242 non-null    int64
 4   total fat            242 non-null    float64
 5   trans fat            242 non-null    float64
 6   saturated fat        242 non-null    float64
 7   sodium               242 non-null    int64
 8   total carbohydrates  242 non-null    int64
 9   cholesterol          242 non-null    int64
 10  dietary fibre        242 non-null    int64
 11  sugars               242 non-null    int64
 12  protein              242 non-null    float64
 13  vitamin a            242 non-null    int64
 14  vitamin c            242 non-null    int64
 15  calcium              242 non-null    int64
 16  iron                 242 non-null    float64
 17  caffeine             242 non-null    float64
dtypes: float64(6), int64(9), object(3)
memory usage: 34.2+ KB

In [22]:
# @@@ Question 9: select all rows with more than and including 400 calories
temp1 = data[data['calories']>=400]
temp1.describe()

,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
count,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
mean,447.500000,9.875000,6.062500,0.112500,16.875000,302.500000,78.250000,1.250000,73.625000,13.250000,15.250000,3.750000,41.250000,17.500000,143.125000
std,32.841611,3.226564,1.613282,0.124642,14.865468,42.342144,10.539043,1.164965,9.257237,5.625198,7.667184,6.713526,19.775526,17.088007,13.611314
min,400.000000,5.000000,4.000000,0.000000,0.000000,230.000000,61.000000,0.000000,58.000000,6.000000,6.000000,0.000000,15.000000,0.000000,110.000000
25%,427.500000,7.750000,4.875000,0.000000,5.000000,280.000000,71.500000,0.000000,69.250000,7.000000,9.000000,0.000000,20.000000,2.000000,145.000000
50%,450.000000,10.000000,6.000000,0.100000,12.500000,320.000000,77.500000,1.500000,74.000000,15.500000,15.000000,2.000000,47.500000,13.000000,147.500000
75%,460.000000,11.500000,7.000000,0.200000,27.500000,332.500000,88.500000,2.000000,81.000000,17.500000,21.250000,2.500000,60.000000,35.000000,150.000000
max,510.000000,15.000000,9.000000,0.300000,40.000000,340.000000,90.000000,3.000000,84.000000,19.000000,25.000000,20.000000,60.000000,40.000000,150.000000

In [23]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content

temp2 = data[data['vitamin c'] > data['iron']]
temp2.describe()

,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
count,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000
mean,266.857143,4.174286,2.257143,0.091429,14.285714,155.571429,47.885714,1.571429,43.200,10.894286,16.142857,21.828571,26.285714,3.428571,66.802348
std,87.035200,3.955364,2.320913,0.106747,12.610853,71.185047,15.192435,2.682029,14.832,5.777845,13.306661,32.223015,17.335057,5.348368,58.728271
min,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.000000,0.000000,17.000,0.100000,0.000000,2.000000,0.000000,0.000000,0.000000
25%,205.000000,0.500000,0.250000,0.000000,5.000000,125.000000,37.500000,0.000000,34.500,6.500000,7.000000,2.000000,10.000000,0.000000,0.000000
50%,270.000000,3.000000,1.500000,0.000000,10.000000,150.000000,49.000000,0.000000,40.000,12.000000,15.000000,8.000000,20.000000,2.000000,75.000000
75%,305.000000,7.000000,3.500000,0.200000,25.000000,195.000000,57.500000,1.500000,52.000,16.000000,20.000000,17.500000,40.000000,4.000000,110.000000
max,510.000000,15.000000,9.000000,0.300000,40.000000,330.000000,77.000000,8.000000,74.000,20.000000,50.000000,100.000000,60.000000,30.000000,150.000000

In [24]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink
data['caffeine_per_calories'] = data['caffeine']/data['calories']

In [26]:
# @@@ Question 12: what is the average calorie across all items?
import numpy as np
print(np.mean(data['calories']))

193.87190082644628

In [27]:
# @@@ Question 13: how many different categories of beverages are there?
print(data['beverage_category'].nunique())

9

In [29]:
# @@@ Question 14: what is the average # calories for each beverage category?
avg_cals = data.groupby('beverage_category')['calories'].mean()
print(avg_cals)

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64